<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sel-13">
    <test name="TESTS">
        <classes>
            <class name="test.LitecartMenuTest"/>
            <class name="test.LitecartLoginTest"/>
            <class name="test.MyFirstTest"/>
        </classes>
    </test>
</suite>
